python-dotenv
pytz
pdfplumber
requests
jupyterlab
streamlit
openai
tiktoken
anthropic
google-genai
llamaapi
xai-sdk
notion
notion_client
line-bot-sdk
mecab-python3
scikit-learn
wordcloud
openpyxl
chromadb
fastapi
uvicorn